html {
    scroll-behavior: smooth;
    background: #F7F3E3; /*LINEN*/
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/*@supports (position: sticky) {*/
    /*body {*/
        /*padding-top: 0;*/
    /*}*/

    /*!*header {*!*/
        /*!*position: sticky;*!*/
    /*!*}*!*/

/*}*/

.navbar {
    font-family: 'Orbitron', sans-serif;
    background: rgb(2, 0, 36);
    position: relative;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
    color: #F7F3E3;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
}

.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    color : #020122;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.navbar .nav .item a {
    text-decoration: none;
    color: inherit;
}

.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 70px;
    height: 70px;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;

}


.scrolled.navbar .nav .item {
    line-height: 40px;
    transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 2px;
    margin-left: 5%;
    width: 40px;
    height: 40px;
    transition: 0.5s ease;
}
.Main{
    height: 720px;
    width: 100%;
    background: #020122; /*RICH BLACK (FOGRA29)*/
    margin-bottom: 50px;
}
.Main .desc {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

#particles-js{
    width: 100%;
    height: 720px;
    position: absolute;
    top: 0;
    background: transparent;
    transition-duration: 1s;

}
.tempoPosition{
    position: relative;
    left: 20%;
}

#helloMsg{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #F7F3E3;
    text-align: center;
    position: relative;
    top: 160px;

}
#nameHover{
    font-weight: bold;
    color:#f15024; /*FLAME*/
    background: transparent;
    font-size: 50px;

}

hr{
    width: 60%;
}
#lookDownBtn{
    background: transparent;
    padding-top: 10px;
    border: #f15024 solid 1px ;
    font-size: 18px;
    text-align: center;
    height: 60px;
    width: 234px;
}
#errow{
    transition-duration: 1s;
}

@media only screen and (max-width: 1200px) {
    #helloMsg {
        font-size: 38px;
    }
}

html.sr .load-hidden {
    visibility: hidden;
}
.headline , .tagline{
    text-align: center;
}
.widget-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 8px;
}
.container{
    font-family: 'Staatliches', cursive;
}
#about , project ,#skills{
    padding-top: 50px;
}
.widget {
    flex: auto;
    margin: 0.5rem;
    background: transparent;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    font-size: larger;
}
.widget{

    margin-bottom: 10px;
    min-height: 400px;
}

.card .card-image {
}
.card .card-image .card-title{
    top: 25px;
    text-align: center;
    color: #F7F3E3;
    /*padding:0 25%;*/
    line-height: 20px;
    width: auto;
    z-index: 1;
}


#weatherWidget:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
#weatherWidget2{
    background: url("../IMG/game.gif") no-repeat bottom;
    background-size: cover;
}
#weatherWidget2:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
#weatherWidget3{
    background: url("../IMG/btn.gif") no-repeat bottom;
    background-size: cover;
}
#weatherWidget3:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
.viewBtn>.material-icons {
    background-color: #f15024;
}
.canvasForBalls canvas , .canvasForBalls img{
    max-height: 300px;
    margin-top: 20px;
}
.canvasForBalls img{
    position: relative;
    bottom: 350px;
    left: 120px;
}
.canvasForBalls{
    HEIGHT: 350px;
}
@media screen and (max-width: 1024px) {
    .canvasForBalls{
        display: none !important;
    }
}

.skillsClass{
    margin-bottom: 5px;
    height: 50px;
    line-height: 100%;
    border:#f15024 solid 1px  ;
    background:#f15024 ;
    border-radius: 50px ;
    text-align: center;
    transition: background-color 2s;
}
.skillsClass span{
    display: none;
}
.skillsClass:hover span{
    display: block;
    margin-top: 20px;
}
.skillsClass:hover p{
    display: none;
}
.skillsClass:hover{
    background: transparent;
    color: #020122;
}

.workWithMe>i{
    font-size: 100px;
    color:#f15024 ;

}
.card-content strong{
    font-size: x-large;
}

/*//footer*/
footer{
    color: white ;
    width: 100%;

    background-color: #020122;
    font-family: Menlo, monospace;
}
footer label{
    display: flex;
    font-size: 20px;
}
footer .row{
    margin-bottom: 0;
}


footer a {
    color: white;
    text-decoration: none;
}



footer div:hover ~ .wave p {
    animation: wave-animation 0.3s infinite;
}



@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}
/*contact me*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #f15024;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ff5525;
}
