html {
    scroll-behavior: smooth;
    background: #F7F3E3; /*LINEN*/
}
.Main{
    height: 720px;
    width: 100%;
    background: #020122; /*RICH BLACK (FOGRA29)*/
}
.Main .desc {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

#particles-js{
    width: 100%;
    height: 720px;
    position: absolute;
    top: 0;
    background: transparent;
    transition-duration: 1s;

}

#helloMsg{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #F7F3E3;
    text-align: center;
    position: relative;
    top: 300px;

}
#nameHover{
    font-weight: bold;
    color: rgb(241, 80, 37); /*FLAME*/
    background: transparent;
    font-size: 50px;

}

hr{
    width: 60%;
}
#lookDownBtn{
    background: transparent;
    padding-top: 10px;
    border: #F15025 solid 1px ;
    font-size: 18px;
    text-align: center;
    height: 60px;
    width: 234px;
}
#errow{
    transition-duration: 1s;
}
html.sr .load-hidden {
    visibility: hidden;
}
.headline , .tagline{
    text-align: center;
}
.widget-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 8px;
}
.container{
    font-family: 'Staatliches', cursive;
}

.widget {
    flex: auto;
    margin: 0.5rem;
    background: transparent;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    font-size: larger;
}
.widget{

    margin-bottom: 10px;
    min-height: 400px;
}

.card .card-image {
}
.card .card-image .card-title{
    top: 25px;
    text-align: center;
    color: #F7F3E3;
    /*padding:0 25%;*/
    line-height: 20px;
    width: auto;
    z-index: 1;
}


#weatherWidget:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
#weatherWidget2{
    background: url("../IMG/game.gif") no-repeat bottom;
    background-size: cover;
}
#weatherWidget2:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
#weatherWidget3{
    background: url("../IMG/btn.gif") no-repeat bottom;
    background-size: cover;
}
#weatherWidget3:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(2,1,34, 0.5);
}
.viewBtn>.material-icons {
    background-color: rgb(241, 80, 37);
}
.canvasForBalls canvas , .canvasForBalls img{
    max-height: 300px;
    margin-top: 20px;
}
.canvasForBalls img{
    position: relative;
    bottom: 350px;
    left: 120px;
}
.canvasForBalls{
    HEIGHT: 350px;
}
@media screen and (max-width: 1024px) {
    .canvasForBalls{
        display: none !important;
    }
}

.skillsClass{
    margin-bottom: 5px;
    height: 50px;
    line-height: 100%;
    border:rgb(241, 80, 37) solid 1px  ;
    background:rgb(241, 80, 37) ;
    border-radius: 50px ;
    text-align: center;
}
.skillsClass span{
    display: none;
}
.skillsClass:hover span{
    display: block;
    margin-top: 20px;
}
.skillsClass:hover p{
    display: none;
}
.skillsClass:hover{
    background: transparent;
    color: #020122;
}

.workWithMe>i{
    font-size: 100px;
    color:rgb(241, 80, 37) ;

}
.card-content strong{
    font-size: x-large;
}

/*//footer*/
footer ul {
    display: inline-grid;
    grid-gap: 30px;
    justify-items: center;
    margin: auto;
}

footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}


footer div {
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: #020122;
    line-height: 1.3;
    font-family: Menlo, monospace;
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}
